/*CONTACT PAGE */
h1 {
    text-align: center;
}

form > div { 
    margin: 20px 0; 
}

#signup {
    text-align: center;
}

/*Gjør span rød for mer brukervennlighet og da det tyder på at noe er feil */
span {
    color: red;
}

span.footer-circle {
    color: black;
}

label { 
    display: inline-block; 
    align-content: center; 
    text-align: right; 
    font-size: 18px;
}

input {
    height: 30px;
}

input[type=submit] { 
    float: center; 
    font-size: 18px;
    background-color: black;
    color: white;
    border: none;
    margin: 5px;
    cursor: pointer;
}


/* ORDNE BANNER NÅR SKJEMA ER SUBMITTED*/
.message {
    border: 1px solid blue;
    color: blue; 
    background-color: rgba(0, 0, 255, 0.1);
    padding: 10px; 
    margin: 0 0 10px 0;
  }

.error {
    border: 1px solid darkred;
    color: darkred; 
    background-color: rgba(255, 0, 0, 0.1);            
  }
  
  .ok {
    border: 1px solid darkgreen;
    color: darkgreen; 
    background-color: rgba(0, 255, 0, 0.1);            
  }


  /*FØRSTE SEKSJON AV KONTAKT SIDE */
 .contact-first-section {
     justify-content: center;
 }

  .contact-img {
      background-image: url('/images/annaportrett2.png');
      background-size: cover;
      height: 300px;
      width: 300px;
  }

  .contact-txt {
      max-width: 300px;
      margin-left: 20px;
  }


  /*TESTER DESIGN */
  .contact-form {
      width: 100%;
      min-height: 500px;
      background-color: #303030;
      color: white
  }

  .contact-box {
      justify-content: center;
      margin: 50px;
  }

  .contact-container-form, .contact-container-txt {
      max-width: 500px;
      margin: 0px;
      padding: 60px;
  }

  form {
      float: left;
  }

  .contact-container-txt {
      margin-top: 100px;
  }

  .container-align-icons {
      display: flex;
      align-items: center;
  }

  .fas {
      font-size: 25px;
      padding-right: 10px;
  }

  @media (min-width: 1041px) {
    .contact-box {
        display: flex;
    }

    .contact-first-section {
        display: flex;
    }
   
    
  }