/*CONTACT PAGE */
h1 {
    text-align: center;
    margin: 50px;
}

.anothertxt {
    margin-left: 50px;
}

  /*FØRSTE SEKSJON AV KONTAKT SIDE */
  .contact-txt {
    font-weight: bold;
    max-width: 300px;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 1.3rem;
}

/* "poput" spørsmål button kode/design:*/
.question-txt { /*Flytte til left så den ikke er sentrert pga design */
    text-align: left;
}

.question-section {
  display: grid;
  grid-template-rows: auto;
  margin: 50px;
}

.question {
  background-color: white;
  color: black;
  cursor: pointer;
  border: black 2px solid;
  padding: 18px;
  max-width: 335px;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .question:hover {
    background-color: #303030;
    color: white;
}

.oftenasked {
  padding: 0 18px;
  max-width: 300px;
  display: none;
  overflow: hidden;
}


/*Form med span som kommer opp for å vise eventuelle feilmeldinger til bruker */
h2, p {
    text-align: center;
    padding: 5px;
}

p.text {
    text-align: left;
}

form > div { 
    margin: 20px 0; 
}

#signup {
    text-align: center;
}

/*Gjør span rød for mer brukervennlighet og da det tyder på at noe er feil */
span {
    color: red;
}

span.footer-circle {
    color: black;
}

label { 
    display: inline-block; 
    align-content: center; 
    text-align: right; 
    font-size: 30px;
}

/* Designe input feltet! */
input[type=name], input[type=text], 
input[type=email] {
    padding: 5px;
    height: 35px;
    font-size: 1rem;
}

input[type=submit] { 
    float: center; 
    font-size: 18px;
    font-weight: 700;
    width: 150px;
    padding: 12px 0;
    text-align: center;
    background-color: white;
    color: black;
    border: none;
    margin: 5px;
    border-radius: 0.3rem;
    cursor: pointer;
}

/* Textarea: */
input:focus,
textarea:focus {
    border: 2px solid #78CBFF;
    outline: none;
    background-color: #dfe1e4;
}

textarea {
    resize: vertical;
    padding: 10px;
    min-height: 30px;
    width: 185px;
}

  /*form design */
  .contact-form {
      width: 100%;
      min-height: 500px;
      background-color: #a9d6e5;
      color: white
  }

  .contact-box {
      display: flex;
      flex-direction: column;
      justify-content:center;
      margin: 30px;
      align-items: center;
  }

  .contact-container-form, .contact-container-txt {
      max-width: 240px;
      margin: 0px;
      padding: 10px;
  }

  form {
      justify-content: center;
  }

  .contact-container-txt {
      justify-content: center;
  }

  .container-align-icons {
      display: flex;
      align-items: center;
  }

  .container-align-icons, .text {
      margin: 20px;
  }

  .fas {
      font-size: 25px;
      padding-right: 10px;
  }

  @media (min-width: 1041px) {
      h2, p  {
          text-align: left;
      }
      
    .contact-box {
        display: flex;
        flex-direction: row;
    }

    .contact-container-txt {
        margin-top: 75px;
        margin-left: 100px;
    }

    form {
        float: left;
    }
  }