* {
    margin: 0;
    padding: 0;
}

/*Sette fontfamilie til nettsiden! */
header, h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}

p , a{
    font-family: 'Open Sans', sans-serif;
}

.homepage-h1 { 
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 2em;
    text-align: center;
    margin: 10px;
}

/* Meny > */
header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1rem;
    height: 70px;
    background: #2a6f97;
    width: 100%;
}

nav {
    display: none;
    position: fixed;
    top: 90px;
    background: #2a6f97;
    z-index: 1000;
    width: 100%;
    text-align: center;
}

nav a {
    padding: 20px;
}

/* Fjerne underline på alle linker*/
a {
    text-decoration: none;
}

/* Hamburger meny for mobil versjon*/
.fa-bars {
    color: white;
    font-size: 30px;
}

#hamburger-menu {
    display: none;
    margin: 10px;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

nav ul {
    padding: 0px;
}

nav li {
    display: block;
    padding: 20px 30px;
}

.logo {
    width: 200px;
    list-style: none;
    margin-left: 20px;
}

/* Sette underline på aktiv side*/
.action {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 20px;
}

header a {
    color: white;
}

header a:hover {
    color:black;
    padding: 20px;
    background-color: white;
}


/*Seksjon med dato og linje under */
#date {
    margin-left: 20px;
    margin: 15px;
}

.line {
    background-color: rgb(240, 240, 234);
    border: none;
    height: 1px;
    margin: 0;
    flex-shrink: 0;
}

/* SLIDER */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

.slider {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
    min-height: 300px;
    max-height: 1270px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.slider > div {
    display: inline-block;
    font-size: 1.5em;
    margin: 30px;
    padding: 20px;
}

.slider > div:hover {opacity: 0.7;}

.slider-post {
    display: none;
}

.img-posts-size {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.slider-btn {
    text-align: center;
    margin-bottom: 100px;
}

#slider-right {
    height: 50px;
    width: 90px;
    border: 2px solid black;
    background-color: #a9d6e5;
    font-weight: bold;
    margin-right: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

#slider-left {
    height: 50px;
    width: 90px;
    border: 2px solid black;
    background-color: #a9d6e5;
    font-weight: bold;
    margin-left: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}



/*MAIN HOME PAGE */
.latest-header {
    text-align: center;
    font-size: 2em;
}

.line-h2 {
    display: grid;
    grid-template-columns: auto auto auto;
}

.h2-line {
    background-color: #a9d6e5;
    height: 2px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}



/*EKSTRA INFO UNDER SLIDER (mine anbefalinger)*/
.reco-grid {
   display: grid;
   grid-template-columns: auto;
   justify-content: center;
}

img {
    max-width: 300px;
}

.reco-header {
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 10px;
}

.reco-div > p {
    margin-top: 10px;
}

.reco-div {
    max-width: 300px;
    margin: 20px;
}

.reco-h2 {
    margin-bottom: 15px;
    text-align: center;
}




/*FOOTER -> */
/*Gjøre linkene svarte */
a {
    color: black;
}

a:hover{
    color: #2a6f97;
 }


footer {
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}

.footer-icons {
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-links > p {
    font-weight: bolder;
    width: 200px;
}

.footer-links {
    justify-content: space-evenly;
}

.footer-txt {
    font-weight: bolder;
    font-size: 1.3em;
}

.footer-link {
    text-align: center;
}

.footer-circle {
    border: 2px solid black;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: inline-block;
    padding: 15px;
    margin: 25px;
}

.icon {
    font-size: 35px;
    position: relative;
    top: 10px;
    left: 10px;
}

.footer-icons {
    justify-content: center;
    padding: 10px;
}



/*RESPONSIV FOOTER */
@media (min-width: 350px) {
    .footer-icons {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media (min-width: 555px) {
    /* Responsiv slider*/
    .img-posts-size {
        width: 400px;
        height: 300px;
        object-fit: cover;
    }
}


/*RESPONSIV FOOTER */
@media (min-width: 580px) {
    .footer-links {
        display: flex;
    }

    .footer-icons {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}

/*Recommandation section grid responsive: */
/*Change size on img and txt */
@media (min-width: 460px) {
    img , .reco-div {
        max-width: 450px;
    }
}

@media (min-width: 620px) {
    img , .reco-div {
        max-width: 550px;
    }
}


@media (min-width: 700px) {
    .homepage-h1 { 
        font-size: 3em;
    }
}



@media (min-width: 905px) {
    /* Recomanndation section grid responsive: */
    .reco-grid {
        display: grid;
        grid-template-columns: auto auto;
    }

    img , .reco-div {
        max-width: 380px;
    }

}



@media (min-width: 1140px) {
    /* Responsiv slider*/
    .slider {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    }

    .img-posts-size {
        width: 300px;
        height: 200px;
        object-fit: cover;
    }
}

/*DESKTOP VERSION*/
@media (min-width: 1041px) {
    /*Gjøre meny desktop vennlig (fjerne hamburger) */
    header {
        justify-content: start;
    }
 
    nav {
        display: block;
        position: static;
        width: 100%;
    }
 
    nav li {
        display: inline-block;
        padding: 0px;
    }

    nav ul {
        float: right;
    }
 
    header label {
        display: none;
    }
 }

 @media (max-width: 1145px) {
    /* Recomanndation section grid, justify center only on mobile*/
    .reco-grid {
        justify-content: center;
    }

    .reco-div {
        margin: 40px;
    }

    .reco-h2 {
        text-align: center;
    }


}

 