/*STILE POSTS SIDEN */
h1 {
    text-align: center;
    margin: 20px;
}


/*Gjøre linkene svarte 
a:link    {color:#000;}   unvisited link  
a:visited {color:#000;}   visited link    
a:hover   {color:#000;} * mouse over link 
a:active  {color:#000;}  /* selected link    
*/

a {
    font-family: 'Open Sans', sans-serif;
}

#posts {
/*    justify-items: center; */
    padding: 30px;
    margin: 0px;
    list-style-type: none; /*Fjerne dotten fra linkene */
    text-decoration: none;
}

/*Legge til underline når man hovrer for mer brukervennlighet */
.list :hover{
    text-decoration: underline;
}

#posts > div {
    padding: 20px;
    margin: 10px;
}


.list > div {
    font-size: 1.5em;
    margin: 30px;
    padding: 20px;
}

/* Lage et grid-system */
.list {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}


img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

/*Designe buttons */
.buttons {
    text-align: center;
}

button {
    background-color: black;
    color: white;
    padding: 15px 32px;
    border: none;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}


/*Responsivt */
@media (min-width: 555px) {
    img {
        width: 400px;
        height: 300px;
        object-fit: cover;
    }
}

@media (min-width: 750px) {
    img {
        width: 500px;
        height: 400px;
        object-fit: cover;
    }
}


@media (min-width: 1140px) {
    .list {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    img {
        width: 300px;
        height: 200px;
        object-fit: cover;
    }
}