h1 {
    text-align: center;
    margin: 50px;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.post {
    display: flex;
}

.post-cont > p{
    min-width: 300px;
    flex: 1;
}

img {
    max-width: 200px;
    height: auto;
    margin: 30px;
}


@media (min-width: 1041px) {
    img {
        max-width: 400px;
        height: auto;
    }

    .post-cont {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    p {
        max-width: 600px;
    }
}